**/application.properties
**/.classpath
**/.project
**/.settings
**/.gradle
**/build/
**/bin/
**/node_modules/
!**/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
**/.DS_Store
esdata
**/.idea
frontend/static/js/
playwright-docker