<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.png" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Metaphor Analysis Tool" />
    <link rel="manifest" href="/manifest.json" />
    <title>Metaphor Analysis Tool</title>
    <script defer="defer" th:src="@{/js/analysis.js}"></script>
    <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet" />
    <link th:href="@{/css/analysis.css}" rel="stylesheet">
</head>
<body><noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <script th:inline="javascript">
        window.ANALYSIS_TOOL_BASENAME = /*[[@{/}]]*/ ;
        window.ANALYSIS_TOOL_API_URL = /*[[@{/analysis_api}]]*/ ;
    </script>
</body>
</html>
