<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.png" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Metaphor Analysis Tool" />
    <link rel="manifest" href="/manifest.json" />
    <title>Metaphor Analysis Tool</title>
    <script defer="defer" src="/js/analysis-main.js"></script>
    <link href="/css/analysis-main.css" rel="stylesheet">
</head>
<body><noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
</body>
</html>
