<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Document Navigation</title>
</head>
<body>
<div th:fragment="doc_navigation">
    <div class="row d-none" id="pages">
        <div class="card">
            <div style="padding: .2em 1em .2em 1em">
                <div class="row gap-2">
                    <div class="col-auto" th:each="page : ${currentManuscript.pages}">
                        <!-- TODO: CUSTOMISE set showThumbnailsOrIcons to false to disable image thumbnails -->
                        <div class="row align-items-center justify-content-center" th:with="showThumbnailsOrIcons=${true}">
                            <div class="col">

                                <!-- TODO: CUSTOMISE change icon, if wanted -->
                                <!-- Switch on whether we should show thumbnails or icons -->
                                <div th:switch="${showThumbnailsOrIcons}" th:with="iconPath=${page.type == 'image'} ? '/images/img_thumb.svg' : '/images/text_thumb.svg'">

                                    <!-- ========================== -->
                                    <!-- Case 1: showThumbnails = true -->
                                    <!-- ========================== -->
                                    <div th:case="true">

                                        <!-- Case 1a: Thumbnail exists → show real thumbnail -->
                                        <img th:if="${page.type == 'image' and page.thumbResourceUrl != null}"
                                             th:src="${page.thumbResourceUrl}"
                                             class="img-thumbnail"
                                             th:classappend="${page.id == currentPage.id} ? ' border border-danger-subtle'"
                                             th:data-field="${page.id}"
                                             th:attr="onclick=|window.open('${page.id}')|"
                                             loading="lazy" />

                                        <!-- Case 1b: No thumbnail → show icon based on type -->
                                        <img th:if="${page.type != 'image' or page?.thumbResourceUrl == null}"
                                             th:src="@{${iconPath}}"
                                             class="img-thumbnail"
                                             th:classappend="${page.id == currentPage.id} ? ' border border-danger-subtle'"
                                             th:data-field="${page.id}"
                                             th:attr="onclick=|window.open('${page.id}')|" />
                                    </div>

                                    <!-- ========================== -->
                                    <!-- Case 2: showThumbnailsOrIcons = false -->
                                    <!-- Do not show anything, only labels for pages -->
                                    <!-- ========================== -->
                                    <div th:case="false">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center justify-content-center mt-2">
                            <a class="btn btn-sm btn-secondary col-auto"
                               id="pageThumbs"
                               th:if="${page.id != currentPage.id}"
                               th:data-field="${page.id}"
                               th:attr="onclick=|window.open('${page.id}')|"
                               data-bs-toggle="tooltip" data-bs-placement="top"
                               th:data-bs-title="#{tooltips.pages_list.open}">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a class="btn btn-sm btn-secondary col-auto disabled"
                               th:if="${page.id == currentPage.id}">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <label class="col-auto" th:text="${page.pageNumber}"
                                   th:if="${page.id != currentPage.id}"
                                   th:attr="onclick=|window.open('${page.id}')|">
                            </label>
                            <label class="col-auto bg-light" th:text="${page.pageNumber}"
                                   th:if="${page.id == currentPage.id}">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>