<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="#{label.editor}"> </title>
  <!-- Bootstrap core JavaScript -->
  <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"
        th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}">

  <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
          integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"
          th:src="@{https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js}"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
          integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"
          th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js}"></script>

  <script src="js/editor_stub.js"></script>
</head>
<body class="container-fluid p-0">
<div id="editor" th:fragment="editor">
  <div class="row mx-auto pr-3 bg-light">
    <div class="col-auto align-self-center">
      <button class="btn btn-primary" onclick="goHome()" th:text="#{buttons.back}"> </button>
    </div>
    <!--
    <div class="col-4 p-6 my-1 align-self-center"
         th:insert="header.html :: header"></div>-->
  </div>

  <div class="row">
    <div class="col">
      <div class="row mx-auto">
        <div class="col" th:fragment="createAnnotation">
          <label class="text-left display-4" th:text="#{label.anno_create}"> </label>
          <form onsubmit="createAnnotation(event)">
            <div class="form-group">
              <label th:text="#{att_name.pageId}"> </label>
              <input id="addA_pageId" type="text" class="form-control" required>
            </div>
            <div class="form-group">
              <label th:text="#{att_name.color}"> </label>
              <select id="addA_color" class="form-control">
                <option th:each="color : ${T(edu.kit.scc.dem.tuhl.model.Color).values()}"
                        th:value="${color}"
                        th:text="${color.getName()}"></option>
              </select>
            </div>
            <div class="form-group">
              <label th:text="#{att_name.svgCode}"> </label>
              <input id="addA_svgCode" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label th:text="#{att_name.motivation}"> </label>
              <select id="addA_motivation" class="form-control">
                <option th:each="motivation : ${T(edu.kit.scc.dem.tuhl.model.Motivation).values()}"
                        th:value="${motivation}"
                        th:text="${motivation.getName()}"></option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary" th:text="#{buttons.submit}"> </button>
          </form>
        </div>
      </div>

      <div class="row mx-auto">
        <div class="col" th:fragment="readAnnotation">
          <label class="text-left display-4" th:text="#{label.anno_read}"> </label>
          <form onsubmit="readAnnotation(event)">
            <div class="form-group">
              <label th:text="#{att_name.id}"> </label>
              <input id="readA_annoId" type="text" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary" th:text="#{buttons.submit}"> </button>
          </form>
        </div>
      </div>

      <div class="row mx-auto">
        <div class="col" th:fragment="updateAnnotation">
          <label class="text-left display-4" th:text="#{label.anno_update}"> </label>
          <form onsubmit="updateAnnotation(event)">
            <div class="form-group">
              <label th:text="#{att_name.id}"> </label>
              <input id="updateA_annoId" type="text" class="form-control" required>
            </div>
            <div class="form-group">
              <label th:text="#{att_name.color}"> </label>
              <select id="updateA_color" class="form-control">
                <option th:each="color : ${T(edu.kit.scc.dem.tuhl.model.Color).values()}"
                        th:value="${color}"
                        th:text="${color.getName()}"></option>
              </select>
            </div>
            <div class="form-group">
              <label th:text="#{att_name.svgCode}"> </label>
              <input id="updateA_svgCode" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label th:text="#{att_name.motivation}"> </label>
              <select id="updateA_motivation" class="form-control">
                <option th:each="motivation : ${T(edu.kit.scc.dem.tuhl.model.Motivation).values()}"
                        th:value="${motivation}"
                        th:text="${motivation.getName()}"></option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary" th:text="#{buttons.submit}"> </button>
          </form>
        </div>
      </div>

      <div class="row mx-auto">
        <div class="col" th:fragment="deleteAnnotation">
          <label class="text-left display-4" th:text="#{label.anno_delete}"> </label>
          <form onsubmit="deleteAnnotation(event)">
            <div class="form-group">
              <label th:text="#{att_name.id}"> </label>
              <input id="deleteA_annoId" type="text" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary" th:text="#{buttons.submit}"> </button>
          </form>
        </div>
      </div>

      <div class="row mx-auto">
        <div class="col" th:fragment="validateAnnotation">
          <label class="text-left display-4" th:text="#{label.anno_validate}"> </label>
          <form onsubmit="validateAnnotation(event)">
            <div class="form-group">
              <label th:text="#{att_name.id}"> </label>
              <input id="validateA_annoId" type="text" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary" th:text="#{buttons.submit}"> </button>
          </form>
        </div>
      </div>

      <div class="row mx-auto">
        <div class="col" th:fragment="createTextCard">
          <label class="text-left display-4" th:text="#{label.card_create}"> </label>
          <form onsubmit="createCard(event)">
            <div class="form-group">
              <label th:text="#{att_name.annotationId}"> </label>
              <input id="createC_annoId" type="text" class="form-control" required>
            </div>
            <div class="form-group">
              <label th:text="#{att_name.title}"> </label>
              <input id="createC_title" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label th:text="#{att_name.value}"> </label>
              <input id="createC_value" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label th:text="#{att_name.purpose}"> </label>
              <select id="createC_purpose" class="form-control">
                <option th:value="" th:text="#{label.notAssigned}" selected></option>
                <option th:each="motivation : ${T(edu.kit.scc.dem.tuhl.model.Motivation).values()}"
                        th:value="${motivation}"
                        th:text="${motivation.getName()}"></option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary" th:text="#{buttons.submit}"> </button>
          </form>
        </div>
      </div>

      <div class="row mx-auto">
        <div class="col" th:fragment="readCard">
          <label class="text-left display-4" th:text="#{label.card_read}"> </label>
          <form onsubmit="readCard(event)">
            <div class="form-group">
              <label th:text="#{att_name.id}"> </label>
              <input id="readC_annoId" type="text" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary" th:text="#{buttons.submit}"> </button>
          </form>
        </div>
      </div>

      <div class="row mx-auto">
        <div class="col" th:fragment="updateTextCard">
          <label class="text-left display-4" th:text="#{label.card_update}"> </label>
          <form onsubmit="updateCard(event)">
            <div class="form-group">
              <label th:text="#{att_name.id}"> </label>
              <input id="updateC_id" type="text" class="form-control" required>
            </div>
            <div class="form-group">
              <label th:text="#{att_name.title}"> </label>
              <input id="updateC_title" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label th:text="#{att_name.value}"> </label>
              <input id="updateC_value" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label th:text="#{att_name.purpose}"> </label>
              <select id="updateC_purpose" class="form-control">
                <option th:value="" th:text="#{label.notAssigned}" selected></option>
                <option th:each="motivation : ${T(edu.kit.scc.dem.tuhl.model.Motivation).values()}"
                        th:value="${motivation}"
                        th:text="${motivation.getName()}"></option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary" th:text="#{buttons.submit}"> </button>
          </form>
        </div>
      </div>

      <div class="row mx-auto">
        <div class="col" th:fragment="deleteTextCard">
          <label class="text-left display-4" th:text="#{label.card_delete}"> </label>
          <form onsubmit="deleteCard(event)">
            <div class="form-group">
              <label th:text="#{att_name.id}"> </label>
              <input id="deleteC_id" type="text" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary" th:text="#{buttons.submit}"> </button>
          </form>
        </div>
      </div>

      <div class="row mx-auto">
        <div class="col" th:fragment="createTag">
          <label class="text-left display-4" th:text="#{label.tag_create}"> </label>
          <form onsubmit="createTag(event)">
            <div class="form-group">
              <label th:text="#{att_name.annotationId}"> </label>
              <input id="createT_annoId" type="text" class="form-control" required>
            </div>
            <div class="form-group">
              <label th:text="#{att_name.title}"> </label>
              <input id="createT_title" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label th:text="#{att_name.value}"> </label>
              <input id="createT_value" type="text" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary" th:text="#{buttons.submit}"> </button>
          </form>
        </div>
      </div>

      <div class="row mx-auto">
        <div class="col" th:fragment="readTag">
          <label class="text-left display-4" th:text="#{label.tag_read}"> </label>
          <form onsubmit="readTag(event)">
            <div class="form-group">
              <label th:text="#{att_name.id}"> </label>
              <input id="readT_annoId" type="text" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary" th:text="#{buttons.submit}"> </button>
          </form>
        </div>
      </div>

      <div class="row mx-auto">
        <div class="col" th:fragment="updateTag">
          <label class="text-left display-4" th:text="#{label.tag_update}"> </label>
          <form onsubmit="updateTag(event)">
            <div class="form-group">
              <label th:text="#{att_name.id}"> </label>
              <input id="updateT_id" type="text" class="form-control" required>
            </div>
            <div class="form-group">
              <label th:text="#{att_name.title}"> </label>
              <input id="updateT_title" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label th:text="#{att_name.value}"> </label>
              <input id="updateT_value" type="text" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary" th:text="#{buttons.submit}"> </button>
          </form>
        </div>
      </div>

      <div class="row mx-auto">
        <div class="col" th:fragment="deleteTag">
          <label class="text-left display-4" th:text="#{label.tag_delete}"> </label>
          <form onsubmit="deleteTag(event)">
            <div class="form-group">
              <label th:text="#{att_name.id}"> </label>
              <input id="deleteT_id" type="text" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary" th:text="#{buttons.submit}"> </button>
          </form>
        </div>
      </div>

      <div class="row mx-auto">
        <div class="col" th:fragment="rawManuscriptJson">
          <label class="text-left display-4" th:text="#{label.raw_manuscriptJson}"> </label>
          <form onsubmit="rawManuscriptJson(event)">
            <div class="form-group">
              <label th:text="#{att_name.id}"> </label>
              <input id="rawMJ_id" type="text" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary" th:text="#{buttons.submit}"> </button>
          </form>
        </div>
      </div>

      <div class="row mx-auto">
        <div class="col" th:fragment="rawManuscriptXml">
          <label class="text-left display-4" th:text="#{label.raw_manuscriptXml}"> </label>
          <form onsubmit="rawManuscriptXml(event)">
            <div class="form-group">
              <label th:text="#{att_name.id}"> </label>
              <input id="rawMX_id" type="text" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary" th:text="#{buttons.submit}"> </button>
          </form>
        </div>
      </div>

      <div class="row mx-auto">
        <div class="col" th:fragment="rawPageJson">
          <label class="text-left display-4" th:text="#{label.raw_pageJson}"> </label>
          <form onsubmit="rawPageJson(event)">
            <div class="form-group">
              <label th:text="#{att_name.id}"> </label>
              <input id="rawPJ_id" type="text" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary" th:text="#{buttons.submit}"> </button>
          </form>
        </div>
      </div>

      <div class="row mx-auto">
        <div class="col" th:fragment="rawAnnotationJson">
          <label class="text-left display-4" th:text="#{label.raw_annoJson}"> </label>
          <form onsubmit="rawAnnotationJson(event)">
            <div class="form-group">
              <label th:text="#{att_name.id}"> </label>
              <input id="rawAJ_id" type="text" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary" th:text="#{buttons.submit}"> </button>
          </form>
        </div>
      </div>

    </div>
    <div class="col">
      <div class="row mx-auto" id="viewerHolder">
      </div>
    </div>
  </div>

  <div hidden>
    <div class="col" th:fragment="annotationViewer">
      <div th:if="${annotation == null}">
        <label th:text="#{prompt.nothing_here}"> </label>
      </div>
      <div th:if="${annotation != null}">
        <label th:text="#{label.anno}"> </label>
        <table class="table">
          <tbody>
          <tr>
            <td th:text="#{att_name.pageId}"> </td>
            <td th:text="${annotation.pageId}"> </td>
          </tr>
          <tr>
            <td th:text="#{att_name.id}"> </td>
            <td th:text="${annotation.id}"> </td>
          </tr>
          <tr>
            <td th:text="#{att_name.modified}"> </td>
            <td th:text="${annotation.modified}"> </td>
          </tr>
          <tr>
            <td th:text="#{att_name.creators}"> </td>
            <td th:text="${annotation.creators}"> </td>
          </tr>
          <tr>
            <td th:text="#{att_name.created}"> </td>
            <td th:text="${annotation.created}"> </td>
          </tr>
          <tr>
            <td th:text="#{att_name.via}"> </td>
            <td th:text="${annotation.via}"> </td>
          </tr>
          <tr>
            <td th:text="#{att_name.canonical}"> </td>
            <td th:text="${annotation.canonical}"> </td>
          </tr>
          <tr>
            <td th:text="#{att_name.color}"> </td>
            <td th:text="${annotation.color.getName()}"> </td>
          </tr>
          <tr>
            <td th:text="#{att_name.svgCode}"> </td>
            <td th:text="${annotation.svgCode}"> </td>
          </tr>
          <tr>
            <td th:text="#{att_name.motivation}"> </td>
            <td th:text="${annotation.motivation}"> </td>
          </tr>
          <tr>
            <td th:text="#{att_name.tags}"> </td>
            <td th:text="${annotation.tags}"> </td>
          </tr>
          <tr>
            <td th:text="#{att_name.etag}"> </td>
            <td th:text="${annotation.etag}"> </td>
          </tr>
          </tbody>
        </table>


      </div>
    </div>

    <div class="col" th:fragment="bodyViewer">
      <div th:if="${body == null}">
        <label th:text="#{prompt.nothing_here}"> </label>
      </div>
      <div th:if="${body != null}">
        <label th:if="${body.purpose != 'tagging'}" th:text="#{label.textCard}"> </label>
        <label th:if="${body.purpose == 'tagging'}" th:text="#{label.tag}"> </label>
        <table class="table">
          <tbody>
          <tr>
            <td th:text="#{att_name.annotationId}"> </td>
            <td th:text="${body.annotationId}"> </td>
          </tr>
          <tr>
            <td th:text="#{att_name.id}"> </td>
            <td th:text="${body.id}"> </td>
          </tr>
          <tr>
            <td th:text="#{att_name.modified}"> </td>
            <td th:text="${body.modified}"> </td>
          </tr>
          <tr>
            <td th:text="#{att_name.creators}"> </td>
            <td th:text="${body.creators}"> </td>
          </tr>
          <tr>
            <td th:text="#{att_name.created}"> </td>
            <td th:text="${body.created}"> </td>
          </tr>
          <tr>
            <td th:text="#{att_name.title}"> </td>
            <td th:text="${body.title}"> </td>
          </tr>
          <tr>
            <td th:text="#{att_name.purpose}"> </td>
            <td th:text="${body.purpose.getName()}"> </td>
          </tr>
          <tr>
            <td th:text="#{att_name.value}"> </td>
            <td th:text="${body.value}"> </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col" th:fragment="rawJsonViewer">
      <div th:if="${rawJson == null}">
        <label th:text="#{prompt.nothing_here}"> </label>
      </div>
      <div th:if="${rawJson != null}">
        <label th:text="#{label.rawJson}"> </label>
        <label th:text="${rawJson}"> </label>
      </div>
    </div>

    <div class="col" th:fragment="rawXmlViewer">
      <div th:if="${rawXml == null}">
        <label th:text="#{prompt.nothing_here}"> </label>
      </div>
      <div th:if="${rawXml != null}">
        <label th:text="#{label.rawXml}"> </label>
        <label th:text="${rawXml}"> </label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
