<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{label.editor}"> </title>

    <!-- define common scripts in head fragment to include here -->
    <th:block th:replace="~{head :: baseContent}"></th:block>

    <link rel="stylesheet" th:href="@{/css/reset.css}">

    <link rel="stylesheet" th:href="@{/css/editor_sidebar_topbar.css}">
    <link rel="stylesheet" th:href="@{/css/modal.css}">

    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/chota@latest">

    <script src="https://cdn.jsdelivr.net/npm/@svgdotjs/svg.js@3.0/dist/svg.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@svgdotjs/svg.js/dist/svg.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@svgdotjs/svg.panzoom.js/dist/svg.panzoom.js"></script>

    <script src="https://d3js.org/d3.v6.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.3.0/raphael.min.js"
            integrity="sha512-tBzZQxySO5q5lqwLWfu8Q+o4VkTcRGOeQGVQ0ueJga4A1RKuzmAu5HXDOXLEjpbKyV7ow9ympVoa6wZLEzRzDg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ajv/8.17.1/ajv7.min.js"
            integrity="sha512-OIkF2zyWS+sUanhT2i75RexNDQ2EKHayyeOxBx4Z4ct0D+dlPzZPhHTi7xZ5eU7aznNLMX7pCZyZVSi25+EGMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.7/underscore.min.js"
            integrity="sha512-4qhSVMvk8zO40MuZxPTbcQX27lfw0FAXv3n6FqlWxhn3PgIX/57GUv5k9g3t28H+rMcpDt/eod1uWJnxkUup1Q=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsonform/2.2.5/jsonform.js"
            integrity="sha512-7+/iHAMg7Yn0B7v6kbWoZYGstHvUeehAe0Rd77bndsvA0jk5z7fQt0qagSyvCRrr6pCBVDUUZlIXlcVhSv2l6g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>


</head>
<body class="container-fluid p-0" th:data-field="${currentAnnotationsJson}"
    onload="init(document.body.getAttribute('data-field'))"
    onresize="resizeViewbox()">

<div id="sideBar" class="anno-side-bar annocollapse">
    <div class="logo-name-wrapper">
        <div class="logo-name">
          <span class="logo-name__name">Akita 3.0</span>
        </div>
        <div class="logo-name__button">
          <i
            class="bx bx-arrow-from-left logo-name__icon annocollapse"
            id="logo-name__icon"
            onclick="toggleAnnoSideBar()"
          ></i>
          <span class="tooltip">Expand</span>
        </div>
      </div>

  <ul class="features-list">
      <div class="category-header">View Mode</div>
    <li class="features-item draft">
      <i id="zoomInButton" class="bx bx-zoom-in features-item-icon" onclick="hideExpandedSidebar(); imageZoomIn()"></i>
      <span class="features-item-text annocollapse" onclick="hideExpandedSidebar(); imageZoomIn()">Zoom In</span>
      <span class="tooltip">Zoom In</span>
    </li>
    <li class="features-item draft">
      <i id="zoomOutButton" class="bx bx-zoom-out features-item-icon" onclick="hideExpandedSidebar(); imageZoomOut()"></i>
      <span class="features-item-text annocollapse" onclick="hideExpandedSidebar(); imageZoomOut()">Zoom Out</span>
      <span class="tooltip">Zoom Out</span>
    </li>
    <li class="features-item draft">
      <i id="moveImageButton" class="bx bx-move features-item-icon" onclick="hideExpandedSidebar(); movingImage = true; mode = Mode.Move"></i>
      <span class="features-item-text annocollapse" onclick="hideExpandedSidebar(); movingImage = true; mode = Mode.Move">Move Image</span>
      <span class="tooltip">Move Image</span>
    </li>
    <li class="features-item draft">
      <i id="hideShapeButton" class="bx bx-low-vision features-item-icon" onclick="hideExpandedSidebar(); hideShape()"></i>
      <span class="features-item-text annocollapse" onclick="hideExpandedSidebar(); hideShape()">Hide Shape</span>
      <span class="tooltip">Hide Shape</span>
    </li>
    <li class="features-item draft">
      <i id="resetViewButton" class="bx bx-reset features-item-icon" onclick="hideExpandedSidebar(); resetView()"></i>
      <span class="features-item-text annocollapse" onclick="hideExpandedSidebar(); resetView()">Reset View</span>
      <span class="tooltip">Reset View</span>
    </li>
  </ul>
  <ul class="features-list">
      <div class="category-header">Create Mode</div>
    <li class="features-item draft">
      <i id="createRectangleButton" class="bx bx-shape-square features-item-icon" onclick="hideExpandedSidebar(); addingRectangle = true; confirmDiscardChanges(); mode = Mode.Create;"></i>
      <span class="features-item-text annocollapse" onclick="hideExpandedSidebar(); addingRectangle = true; confirmDiscardChanges(); mode = Mode.Create;">Create Square</span>
      <span class="tooltip">Create Square</span>
    </li>
    <li class="features-item draft">
      <i id="createPolygonButton" class="bx bx-shape-polygon features-item-icon" onclick="hideExpandedSidebar(); addingPolygon = true; confirmDiscardChanges(); mode = Mode.Create;"></i>
      <span class="features-item-text annocollapse" onclick="hideExpandedSidebar(); addingPolygon = true; confirmDiscardChanges(); mode = Mode.Create;">Create Polygon</span>
      <span class="tooltip">Create Polygon</span>
    </li>
    <li class="features-item draft">
      <i id="createPageAnnoButton" class="bx bx-note features-item-icon" onclick="hideExpandedSidebar(); confirmDiscardChanges(); mode = Mode.Create; createPageAnnotation();"></i>
      <span class="features-item-text annocollapse" onclick="hideExpandedSidebar(); confirmDiscardChanges(); mode = Mode.Create; createPageAnnotation();">Create Annotation</span>
      <span class="tooltip">Create Annotation</span>
    </li>
   </ul>
   <ul class="features-list">
       <div class="category-header">Modify Mode</div>
    <li class="features-item star">
      <i id="modifyButton" class="bx bx-edit features-item-icon" onclick="hideExpandedSidebar(); modifyShape();"></i>
      <span class="features-item-text annocollapse" onclick="hideExpandedSidebar(); modifyShape();">Modify Shape</span>
      <span class="tooltip">Modify Shape</span>
    </li>
    <li class="features-item star">
      <i id="undoButton" class="bx bx-undo features-item-icon" onclick="hideExpandedSidebar(); undo();"></i>
      <span class="features-item-text annocollapse" onclick="hideExpandedSidebar(); undo()">Undo</span>
      <span class="tooltip">Undo</span>
    </li>
    <li class="features-item star">
      <i id="saveButton" class="bx bx-save features-item-icon" onclick="hideExpandedSidebar(); saveShape();"></i>
      <span class="features-item-text annocollapse" onclick="hideExpandedSidebar(); saveShape();">Save</span>
      <span class="tooltip">Save</span>
    </li>
  </ul>
    <ul class="features-list">
    <li class="features-item star">
      <i id="pagesButton" class="bx bx-book-open features-item-icon" onclick="hideExpandedSidebar(); toggleOverview('pages')"></i>
      <span class="features-item-text annocollapse" onclick="hideExpandedSidebar(); toggleOverview('pages')">Show Book</span>
      <span class="tooltip">Show Book</span>
    </li>
    <li class="features-item star">
      <i id="editortableButton" class="bx bx-list-ul features-item-icon" onclick="hideExpandedSidebar(); toggleOverview('editortable')"></i>
      <span class="features-item-text annocollapse" onclick="hideExpandedSidebar(); toggleOverview('editortable')">Show Annotations</span>
      <span class="tooltip">Show Annotations</span>
    </li>
  </ul>
</div>

    <div class="row topbar-row is-full-width">
        <div class="col-1"></div>
        <div class="col-1 is-vertical-align is-horizontal-align"> <i class="bx bx-home" onclick="goHome();"></i> </div>
        <div class="col-4 is-vertical-align is-horizontal-align" th:text="${currentManuscript.title}"></div>
        <div class="col-5 is-vertical-align is-horizontal-align">
            <div class="row input-group">
                <input class="form-control col-9 is-vertical-align"
                th:placeholder="#{label.pseudonym}"
                id="pseudonymInput"
                th:value="${user.getName()}"
                disabled>
                <div class="col-3 input-group-append is-vertical-align">
                    <button id="editButton"
                    class="bx bx-edit"
                    onclick="clickButton()"
                    > </button>
                </div>
            </div>
        </div>
        <div class="col-1 is-vertical-align is-horizontal-align"> <i class="bx bx-help-circle" onclick="console.log('ZoomIn!')"></i> </div>
    </div>
    <div class="row is-full-width"><div class="col-12"></div></div>
    <div class="row is-full-width">
        <div class="col-1"></div>
        <div class="col-2" th:text="#{col_name.noPages}">"></div>
        <div class="col-2" th:text="${currentManuscript.noPages}"></div>
        <div class="col-1"></div>
        <div class="col-2" th:text="#{col_name.created}"></div>
        <div class="col-4" th:text="${currentManuscript.created}"></div>
    </div>
    <div class="row is-full-width">
        <div class="col-1"></div>
        <div class="col-2" th:text="#{col_name.pageNumber}"></div>
        <div class="col-2" th:text="${currentPage.pageNumber}"></div>
        <div class="col-1"></div>
        <div class="col-2" th:text="#{col_name.lastModified}">"></div>
        <div class="col-4" th:text="${currentManuscript.lastModified}"></div>
    </div>


    <div id="editor">
        <!-- th:fragment="editor -->

    <!-- manuscript page -->
    <div class="row is-full-width">
        <div class="col-7">
            <div id="imageWorkspace" class="is-full-width">
                <script th:inline="javascript">
                    var currentPageId = [[${currentPage.getResourceUrl()}]];
                </script>
                <img th:if="${currentPage.resourceType == (T(edu.kit.scc.dem.tuhl.model.page.ResourceType).IMAGE)}"
                        th:src="${currentPage.getResourceUrl()}"
                        id="pageImage">
                <label class="text-center"
                    th:if="${currentPage.resourceType != (T(edu.kit.scc.dem.tuhl.model.page.ResourceType).IMAGE)}"
                    th:text="#{info.no_text_support}">
                </label>
                <div id="canvas">
                </div>
            </div>
        </div>

        <!-- bodies and annotations -->
        <div class="col-5" style="height: 100vh">
            <div class="row mx-auto" id="viewerHolder">
                <div class="card card-body is-full-width is-hidden" id="annotationCard">
                    <div class="row" id="iconRow">
                        <div class="col">
                            <div class="is-right">
                                <i class="bx bx-plus" onclick="imageZoomIn()"></i>
                                <i class="bx bx-trash" onclick="imageZoomIn()"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page overview for the whole book onclick="window.open(${page.id})" no-wrap> -->
    <div class="collapse col-auto is-hidden is-full-width" id="pages">
        <div class="card">
            <div class="row">
                <div class="col-auto" th:each="page : ${currentManuscript.pages}">
                    <div class="row">
                        <div class="col">
                            <img th:src="${page.thumbResourceUrl}"
                                 class="img-thumbnail"
                                 id="pageThumb"
                                 th:if="${page.id != currentPage.id}"
                                 th:data-field="${page.id}"
                                 th:attr="onclick=|window.open('${page.id}')|">
                            <img th:src="${page.thumbResourceUrl}"
                                 class="img-thumbnail bd-error"
                                 th:if="${page.id == currentPage.id}">
                        </div>
                    </div>
                    <div class="row is-center">
                        <label class="col-auto" th:text="${page.pageNumber}"
                        th:if="${page.id != currentPage.id}">
                        </label>
                        <label class="col-auto bg-light" th:text="${page.pageNumber}"
                        th:if="${page.id == currentPage.id}">
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="collapse col-auto is-hidden is-full-width" id="editortable">
        <div class="card">
                <div class="boxlist margin-top-30" id="training-box">
                    <div class="box-header bg-green-blue"></div>
                    <div class="box-body"><div id="table"></div>

                    </div>
                </div>
         </div>
    </div>

</div>

    <div class="modal" id="createBody">
        <div class="modal-content">
            <span class="close-button" id="closeButton">&times;</span>
            <form id="pickBodyTemplateForm"></form>
            <form id="createForm"></form>
        </div>
    </div>

    <div class="modal" id="createAnnotation">
        <div class="modal-content">
            <span class="close-button" id="closeButtonAnno">&times;</span>
            <form id="pickAnnotationTemplateForm"></form>
            <form id="createAnnotationForm"></form>
        </div>
    </div>

    <div class="modal" id="loading">
        <div class="modal-loading">
            <img th:src="@{/images/Book.gif}"/>
        </div>
    </div>

    <!-- Copied from main_page.html - may be exchanged in the future -->
    <div class="modal" id="pseudonymInputModal">
            <div class="modal-content">
                <form>
                    <div class="modal-body form-group">
                        <label for="pseudonymInitInput" th:text="#{prompt.pseudonym}"> </label>
                        <input type="text"
                               class="form-control"
                               id="pseudonymInitInput"
                               th:placeholder="#{label.pseudonym}"
                               required>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" th:text="#{buttons.submit}">
                        </button>
                    </div>
                </form>
            </div>
    </div>

    <script th:inline="javascript">

        function clickDe(){
            console.log("click de");
            $.ajax({
                type: 'GET',
                url: '/assistance/lang/de',
                dataType: 'text',
            })
            return true;
        }

        function clickEn(){
            console.log("click en");
            $.ajax({
                type: 'GET',
                url: '/assistance/lang/en',
                dataType: 'text',
            })

            return true;
        }

        function getHelp(){
            location.href = '/assistance/help';
        }

        function clickButton(){
            /*<![CDATA[*/
            let button = document.getElementById('editButton');
            let input = document.getElementById('pseudonymInput');
            let edit = [[#{buttons.edit}]];
                let ok = [[#{buttons.ok}]];
            if (button.classList.contains('bx-edit')){
                button.classList.remove('bx-edit');
                button.classList.add('bx-check');
                input.disabled = false;
            }
            else {
                button.classList.remove('bx-check');
                button.classList.add('bx-edit');
                input.disabled = true;
                // the "event" argument is the default event triggered by the click on "#editButton"
                setPseudonym(event, "pseudonymInput");
            }
            /*]]>*/
        }

        function setPseudonym(event, pseudonymForm) {
            // prevent the default reload of the page on submit-events
            event.preventDefault();
            let input = $('#' + pseudonymForm).val();
            // $('#pseudonymInput').val();
            $.ajax({
                type: 'GET',
                url: '../assistance/' + input,
                dataType: 'text',
                success: function (responseData) {
                    console.log("Response from succesfull pseudonym update: ", responseData);
                    //location.href = '?lang=' + responseData;
                    // reload the page with the new pseudonym
                    location.reload();
                },
                error: function (responseData) {
                    console.error(responseData);
                }
            });
        }

        // adding eventhandler for pseudonym change to the pseudonym input modal
        document.querySelector("#pseudonymInputModal > div:nth-child(1) > form:nth-child(1)")
            .addEventListener("submit", (event) => setPseudonym(event, "pseudonymInitInput"));

        // adapted from main_page.html - may be exchanged in the future
        $(document).ready(function () {
            let userName = /*[[${user.getName()}]]*/ "default";
            if (userName === 'default') {
              document.getElementById("pseudonymInputModal").classList.toggle("show-modal");
            }
        });
    </script>

    <script th:src="@{/js/metadataeditor.js}"></script>
    <script th:src="@{/js/editor.js}"></script>
    <script th:src="@{/js/editor_svg.js}"></script>
    <script th:src="@{/js/creation_templates.js}"></script>


</body>

</html>
<style>

#imageWorkspace {
    background-color: transparent; /* debug color, is hidden behind image if everything works as intended */
    position: relative;
    display: inline-block;  /*shrinks container to image size */
    z-Index :1;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#imageWorkspace img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: none;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#editor {
    margin-left: 7.5rem;
}

/*
   Optional. Prevent the accidential selection of the image (or other elements).
   Old, but still works at least in Firefox, might be better to find a new method for this.
   Very old source: https://stackoverflow.com/questions/5915023/preventing-images-and-text-to-be-selected
*/
.unselectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

</style>
