<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{label.editor}"> </title>

    <!-- define common scripts in head fragment to include here; the text editor can not use the head:baseContent fragment
    as the jQuery instance imported there will override the jQuery instance used in the modularised code
    and will break functionality. Hence thecontents of the head:baseContent fragment need to be copied in
    manually for the textEditor -->
    <!-- <th:block th:replace="~{head :: baseContent}"></th:block> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"
    integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- external/framework css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" 
    integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://unpkg.com/tabulator-tables@4.7.1/dist/css/tabulator.min.css" rel="stylesheet"
    th:href="@{https://unpkg.com/tabulator-tables@4.7.1/dist/css/tabulator.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.9.3/css/bootstrap/tabulator_bootstrap4.min.css"
    integrity="sha512-pXZ8FsuOBAyDmJ3OWob4V2UgZWQ8zs8f99MrNv0sBG8VLzuucajpzJ3BIiVNzTpfIYgzWGUq0QPJ3Y/9Gr4h7Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- internal css-->
    <link rel="stylesheet" th:href="@{/css/editor_sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/editor_shared.css}">
    <link rel="stylesheet" th:href="@{/css/editor_image.css}">

    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" 
    integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body class="container-fluid p-0" th:data-field="${currentAnnotationsJson}">

<div id="sideBar" class="anno-side-bar annocollapse">
    <div class="logo-name-wrapper">
        <div class="logo-name">
          <span class="logo-name__name">Akita 3.0</span>
        </div>
        <div class="logo-name__button">
          <i
            class="bx bx-arrow-from-left logo-name__icon annocollapse"
            id="logo-name__icon"
            title="Expand"
          ></i>
        </div>
      </div>

  <div class="features-list">
      <div class="category-header">View Mode</div>
    <li class="features-item draft">
      <i id="zoomInButton" title="Zoom In" class="bx bx-zoom-in features-item-icon"></i>
      <span id="zoomInSpan" class="features-item-text annocollapse">Zoom In</span>
    </li>
    <li class="features-item draft">
      <i id="zoomOutButton" title="Zoom Out" class="bx bx-zoom-out features-item-icon"></i>
      <span id="zoomOutSpan" class="features-item-text annocollapse">Zoom Out</span>
    </li>
    <li class="features-item draft">
      <i id="moveImageButton" title="Move Image" class="bx bx-move features-item-icon"></i>
      <span id="moveImageSpan" class="features-item-text annocollapse">Move Image</span>
    </li>
    <li class="features-item draft">
      <i id="hideShapeButton" title="Hide Shape" class="bx bx-low-vision features-item-icon"></i>
      <span id="hideShapeSpan" class="features-item-text annocollapse">Hide Shape</span>
    </li>
    <li class="features-item draft">
      <i id="resetViewButton" title="Reset View" class="bx bx-reset features-item-icon"></i>
      <span id="resetViewSpan" class="features-item-text annocollapse">Reset View</span>
    </li>
</div>
  <div class="features-list">
      <div class="category-header">Create Mode</div>
    <li class="features-item draft">
      <i id="createRectangleButton" title="Create Square" class="bx bx-shape-square features-item-icon"></i>
      <span id="createRectangleSpan" class="features-item-text annocollapse">Create Square</span>
    </li>
    <li class="features-item draft">
      <i id="createPolygonButton" title="Create Polygon" class="bx bx-shape-polygon features-item-icon"></i>
      <span id="createPolygonSpan" class="features-item-text annocollapse">Create Polygon</span>
    </li>
    <li class="features-item draft">
      <i id="createPageAnnoButton" title="Create Annotation" class="bx bx-note features-item-icon"></i>
      <span id="createPageAnnoSpan" class="features-item-text annocollapse">Create Annotation</span>
    </li>
</div>
   <div class="features-list">
       <div class="category-header">Modify Mode</div>
    <li class="features-item star">
      <i id="modifyButton" title="Modify Shape" class="bx bx-edit features-item-icon"></i>
      <span id="modifySpan" class="features-item-text annocollapse">Modify Shape</span>
    </li>
    <li class="features-item star">
      <i id="undoButton" title="Undo" class="bx bx-undo features-item-icon"></i>
      <span id="undoSpan" class="features-item-text annocollapse">Undo</span>
    </li>
    <li class="features-item star">
      <i id="saveButton" title="Save" class="bx bx-save features-item-icon"></i>
      <span id="saveSpan" class="features-item-text annocollapse">Save</span>
    </li>
</div>
    <div class="features-list">
    <li class="features-item star">
      <i id="pagesButton" title="Show Book" class="bx bx-book-open features-item-icon"></i>
      <span id="pagesSpan" class="features-item-text annocollapse">Show Book</span>
    </li>
    <li class="features-item star">
      <i id="annotationTableBottomButton" title="Show Annotations" class="bx bx-list-ul features-item-icon"></i>
      <span id="annotationTableBottomSpan" class="features-item-text annocollapse">Show Annotations</span>
    </li>
</div>
</div>

<div th:replace="~{header_editor.html :: header_editor}"></div>

    <div id="editor">
        <!-- th:fragment="editor -->

    <!-- manuscript page -->
    <div class="row">
        <div class="col-7">
            <div id="imageWorkspace">
                <script th:inline="javascript">
                    var currentPageId = [[${currentPage.getResourceUrl()}]];
                </script>
                <img th:if="${currentPage.resourceType == (T(edu.kit.datamanager.takita.model.page.ResourceType).IMAGE)}"
                        th:src="${currentPage.getResourceUrl()}"
                        id="pageImage"/>
                <label class="text-center"
                    th:if="${currentPage.resourceType != (T(edu.kit.datamanager.takita.model.page.ResourceType).IMAGE)}"
                    th:text="#{info.no_text_support}">
                </label>
                <div id="canvas">
                </div>
            </div>
        </div>

        <!-- bodies and annotations -->
        <div class="col-5" style="height: 100vh">
            <div class="row mx-auto" id="viewerHolder">
                <div class="card card-body row-gap-2 invisible" id="annotationCard">
                    </div>
                </div>
            </div>
        </div>

        <!-- Part overview for the whole text onclick="window.open(${page.id})" no-wrap> -->
        <div class="row d-none" id="pages">
            <div class="card">
                <div style="padding: .2em 1em .2em 1em">
                    <div class="row" style="gap: .2em">
                        <div class="col-auto" th:each="page : ${currentManuscript.pages}">
                            <!-- TODO: CUSTOMISE set the boolean at the start of the "th:if"-clause to "true"/"false" to display/hide pictures -->
                            <div class="row">
                                <div class="col">
                                    <img th:src="${page.thumbResourceUrl}"
                                        class="img-thumbnail"
                                        id="pageThumb"
                                        th:if="${false and page.id != currentPage.id and page.thumbResourceUrl != null}"
                                        th:data-field="${page.id}"
                                        th:attr="onclick=|window.open('${page.id}')|">
                                    <img th:src="@{/images/text_thumb.jpg}"
                                        class="img-thumbnail"
                                        id="pageThumb"
                                        th:if="${false and page.id != currentPage.id and page.thumbResourceUrl == null}"
                                        th:data-field="${page.id}"
                                        th:attr="onclick=|window.open('${page.id}')|">
                                    <img th:src="@{/images/text_thumb.jpg}"
                                        class="img-thumbnail bd-error"
                                        th:if="${false and page.id == currentPage.id}">
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <!-- the following classes originally stem from the DO-overview and bootstrap, which is used for
                                    the DO-overview of tAkita, but not for the textEditor, where chota is used -->
                                <a class="btn btn-sm btn-secondary col-auto"
                                    id="pageThumbs"
                                    th:if="${page.id != currentPage.id}"
                                    th:data-field="${page.id}"
                                    th:attr="onclick=|window.open('${page.id}')|"
                                    data-bs-toggle="tooltip" data-bs-placement="top"
                                    th:data-bs-title="#{tooltips.pages_list.open}">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a class="btn btn-sm btn-secondary col-auto disabled"
                                    th:if="${page.id == currentPage.id}">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <label class="col-auto" th:text="${page.pageNumber}"
                                    th:if="${page.id != currentPage.id}"
                                    th:attr="onclick=|window.open('${page.id}')|">
                                </label>
                                <label class="col-auto bg-light" th:text="${page.pageNumber}"
                                    th:if="${page.id == currentPage.id}">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row d-none" id="annotationTableBottomDiv">
            <div class="card">
                <div style="padding: .2em .2em">
                    <div id="annotationTableBottom"></div>
                </div>
            </div>
        </div>
    </div>



</div>

<div class="modal" tabindex="-1" role="dialog" id="createBody" data-bs-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create New Body</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="pickBodyTemplateForm"></form>
                <form id="createForm"></form>   
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="createAnnotation" data-bs-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create New Annotation</h5>
                <button type="button" id="dismissAnnotation" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="pickAnnotationTemplateForm"></form>
                <form id="createAnnotationForm"></form>    
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="loading" data-bs-backdrop="static">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class='bx bxs-dog bx-tada bx-lg'></i>
                <span>... loading ...</span>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{pseudonym.html :: pseudonym_modal}"></div>
    <script th:inline="javascript">
        // setting contextpath
        window.CONTEXTPATH = /*[[@{/}]]*/ "/";
    </script>
    <script th:src="@{/js/imageeditor-ng.js}" type="module"></script>
    
    <script th:inline="javascript">
        // storing currentPageUrl as its needed for the target creation
        window.CURRENTPAGEURL = /*[[${currentPage.getResourceUrl()}]]*/ "default.url";
        // storing currentPageId as its needed for getting the updated annoJson
        window.CURRENTPAGEID = /*[[${currentPage.getId()}]]*/ "default.id";
        document.addEventListener("DOMContentLoaded", (_event) => {
            const annotationsString = document.body.getAttribute('data-field');
            window.imageEditor.initializeImageEditorComponent(annotationsString);
        });
    </script>

</body>
</html>

