<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Header</title>
</head>
<body>
<div th:fragment="header" class="row justify-content-end">
    <div class="col-4 input-group w-auto">
        <input class="form-control"
               th:placeholder="#{label.pseudonym}"
               id="pseudonymInput"
               th:value="${user.getName()}"
               disabled>
        <div class="input-group-append">
            <button id="editButton"
                    class="btn btn-outline-secondary"
                    onclick="clickButton()"
                    th:text="#{buttons.edit}"> </button>
        </div>
    </div>
    <button class="col-auto btn btn-info" th:text="#{buttons.help}" onclick="getHelp()"> </button>
    <div class="dropdown col-auto">
        <button id="Languages" class="btn btn-info dropdown-toggle" type="button"  data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" th:text="#{buttons.language}">
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="?lang=de" onclick="return clickDe()"  th:text="#{language.de}"> </a>
            <a class="dropdown-item" href="?lang=en" onclick="return clickEn()" th:text="#{language.gb}"> </a>
        </div>
    </div>


    <script th:inline="javascript">

        function clickDe(){
            console.log("click de");
            $.ajax({
                type: 'GET',
                url: '/assistance/lang/de',
                dataType: 'text',
            })
            return true;
        }

        function clickEn(){
            console.log("click en");
            $.ajax({
                type: 'GET',
                url: '/assistance/lang/en',
                dataType: 'text',
            })

            return true;
        }

        function getHelp(){
            location.href = '/assistance/help';
        }

        function clickButton(){
            /*<![CDATA[*/
            let button = document.getElementById('editButton');
            let input = document.getElementById('pseudonymInput');
            let edit = [[#{buttons.edit}]];
                let ok = [[#{buttons.ok}]];
            if (button.innerText === edit){
                button.innerText = ok;
                button.className = 'btn btn-info';
                input.disabled = false;
            }
            else {
                button.innerText = edit;
                button.className = 'btn btn-outline-secondary';
                input.disabled = true;
                setPseudonym();
            }
            /*]]>*/
        }

        function setPseudonym() {
            let input = $('#pseudonymInput').val();
            $.ajax({
                type: 'GET',
                url: 'assistance/' + input,
                dataType: 'text',
                success: function (responseData) {
                    location.href = '?lang=' + responseData;
                }
            });
        }
    </script>
</div>
</body>
</html>