<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>tableView</title>
</head>
<body id="body" th:fragment="tableView">
<div class="form-row align-items-center m-2">
    <div class="col-auto">
        <div class="form-check form-check-inline">
            <input type="checkbox"
                   class="form-check-input"
                   id="thumbnails"
                   name="thumbnails"
                   onclick="onChangeCheckbox(this)">
            <label for="thumbnails"
                   class="form-check-label" th:text="#{input_label.always_show_thumbs}"></label>
        </div>
        <div class="form-check form-check-inline">
            <input type="checkbox"
                   id="save-config"
                   class="form-check-input"
                   name="safe-config"
                   th:checked="${user.isSaveTable()}">
            <label for="save-config"
                   class="form-check-label" th:text="#{input_label.save_config}"></label>
        </div>
    </div>
    <div class="col-auto dropdown">
        <button class="btn-sm btn-secondary dropdown-toggle"
                type="button"
                id="dropdownMenu"
                data-toggle="dropdown" th:text="#{buttons.choose_cols}"></button>
        <div class="dropdown-menu" id="boxes"></div>
    </div>

    <div class="col-auto">
        <button type="button"
                class="btn-sm btn-secondary"
                id="reset"
                onclick="resetColumns()" th:text="#{buttons.reset_cols}"></button>
    </div>

    <div class="col-auto ml-auto">
        <button type="button"
                class="btn-sm btn-info"
                onclick="backToDashboard()" th:text="#{buttons.to_dashboard}"></button>
    </div>
</div>

<div id="searchresults"></div>
<form onsubmit="getValue(event)">
<div class="form-row m-2 align-content-center justify-content-center">
    <div class="col-auto align-self-center">
        <button type="button"
                class="btn-sm btn-secondary"
                onclick="goToFirstPage()"
                th:text="#{buttons.first}"> </button>
    </div>

    <div class="col-3">
        <div class="input-group">

            <div class="input-group-prepend">
                <button type="button"
                        class="btn btn-secondary"
                        id="prevPage"
                        onclick="goToPrevPage()" th:text="#{buttons.prev}"> </button>
            </div>

            <input class="form-control"
                   type="number"
                   th:value="${currentPage}"
                   id="pageNumberInput"
                   min="1"
                   th:max="${numberOfPages}"
                   required>
            <div class="input-group-append">
                <button type="submit"
                        class="btn btn-info"
                        th:text="#{buttons.ok}"> </button>
                <button type="button"
                        class="btn btn-secondary"
                        id="nextPage"
                        onclick="goToNextPage()" th:text="#{buttons.next}"> </button>
            </div>

        </div>
    </div>
    <div class="col-auto align-self-center">
        <button type="button"
                class="btn-sm btn-secondary"
                th:text="${numberOfPages}"
                onclick="goToLastPage()"> </button>
    </div>
</div>
</form>

    <div class="col-auto">
        <form onsubmit="setResultsPerPage(event)">
        <label th:text="#{input_label.resultsPerPage}"></label>
        <input class="form-control"
                type="number"
               id="resultsPerPage"
               th:value="${noResults}"
        min="1">
        <button type="submit"
                class="btn btn-secondary"
                th:text="#{buttons.ok}">
        </button>
    </form>
    </div>
    


<script src="js/table_view.js"></script>
<script th:inline="javascript">

    function getValue(event){
        event.preventDefault();
        callPage($('#pageNumberInput').val());

    }

    $('#save-config').change(function () {
        $.ajax({
            type: 'GET',
            url: "assistance/saveTableConfigSetting",
            dataType: 'text',
        });
    })

    /*<![CDATA[*/
    // document.getElementById("pageNumberInput").value = [[${user.getCurrentPage()}]];
    /*]]>*/

    // loads data for table with thymeleaf
    function loadData() {
        /*<![CDATA[*/
        let data = [];
        let counter = 0;
        let manuscriptData;
        let thumbnails;
        let counter2;
        /*[# th:each="man :${results}"]*/
        thumbnails = [];
        counter2 = 0;
        /*[# th:each="pg :${man.getPages()}"]*/
        thumbnails[counter2] = {thumb: [[${pg.getThumbResourceUrl()}]], id:[[${pg.getId()}]]};
        counter2++;
        /*[/]*/
        manuscriptData = {
            id:[[${man.getId()}]],
            title:[[${man.getTitle()}]],
            publisher:[[${man.getPublisher()}]],
            publicationYear:[[${man.getPublicationYear()}]],
            lastModified:[[${man.getLastModified()}]],
            noPages:[[${man.getPages().size()}]],
            hasAlgorithmAnnotations:[[${man.hasAlgorithmAnnotations()}]],
            created:[[${man.getCreated()}]],
            thumbnails: thumbnails
        };
        data[counter] = manuscriptData;
        counter++;
        /*[/]*/
        /*]]>*/
        return data;
    }

    /*<![CDATA[*/
    //define columns
        window.cols = [
            {
                formatter:function(cell, formatterParams, onRendered){
                    window.idd = cell.getRow().getData().id;
                return "<button class='btn-sm btn-secondary m-1 row' onclick='callEditor(window.idd)'><i class='fa fa-pencil'></i></button>";},
                width:40,
                hozAlign:"center",
                frozen: true,
            },
            {
                title: [[#{col_name.id}]],
                field: "id",
                headerSortStartingDir: toggleSort("id"),
            },
            {
                title: [[#{col_name.title}]],
                field: "title",
                headerMenu: headerMenu(),
                headerSortStartingDir: toggleSort("title"),
                visible: true,
            },
            {
                title: [[#{col_name.publisher}]],
                field: "publisher",
                headerMenu: headerMenu(),
                headerSortStartingDir: toggleSort("publisher"),
                visible: true,
            },
            {
                title: [[#{col_name.publicationYear}]],
                field: "publicationYear",
                headerMenu: headerMenu(),
                headerSortStartingDir: toggleSort("publicationYear"),
                visible: true,
            },
            {
                title: [[#{col_name.lastModified}]],
                field: "lastModified",
                headerMenu: headerMenu(),
                headerSortStartingDir: toggleSort("lastModified"),
                visible: true,
            },
            {
                title: [[#{col_name.noPages}]],
                field: "noPages",
                headerMenu: headerMenu(),
                headerSortStartingDir: toggleSort("noPages"),
                visible: true,
            },
            {
                title: [[#{col_name.hasAlgoAnnos}]],
                field: "hasAlgorithmAnnotations",
                headerMenu: headerMenu(),
                headerSortStartingDir: toggleSort("hasAlgorithmAnnotations"),
                visible: true,
            },
            {
                title: [[#{col_name.created}]],
                field: "created",
                headerMenu: headerMenu(),
                headerSortStartingDir: toggleSort("created"),
                visible: true,
            },
        ];

    /*]]>*/

    //defines header menu with hide function
    function headerMenu() {
        /*<![CDATA[*/
        return [
            {
                label: "<i class='fas fa-eye-slash'> </i>" + [[#{menu.hideCol}]],
                action: function (e, column) {
                    column.hide();
                    document.getElementById('check_' + column.getField()).checked = false;
                }
            }
        ];
        /*]]>*/
    }

    //--- change page calls ---

    //go to last page call
    function goToLastPage() {
        /*<![CDATA[*/
        let lastPage = [[${numberOfPages}]];
        /*]]>*/
        callPage(lastPage);
    }

    //go to previous page call
    function goToPrevPage() {
        /*<![CDATA[*/
        let currentPage = [[${currentPage}]];
        /*]]>*/
        if(currentPage > 1){
            currentPage--;
            callPage(currentPage);
        }

    }

    //go to next page call
    function goToNextPage() {
        /*<![CDATA[*/
        let currentPage = [[${currentPage}]];

        if(currentPage < [[${numberOfPages}]]){
            currentPage++;
            callPage(currentPage);
        }

        /*]]>*/
    }

    function callPage(currentPage){
        $.ajax({
            type: 'GET',
            url: '/tableview/page/' + currentPage,
            dataType: 'text',

            success: function (responseData) {
                // updateData();
                $('#dashboard').load('/tableview/flag');
            }
        })
    }

    function toggleSort(field) {
        /*<![CDATA[*/
        let sort =  [[${order}]];
        if (field === [[${sortField}]]) {
            if (sort === 'asc') {
                sort = 'desc';
            } else {
                sort = 'asc';
            }
        } else {
            sort = 'asc';
        }
        /*]]>*/
        return sort
    }

    // creates Table
    /*<![CDATA[*/
    window.table = new Tabulator("#searchresults", {
        persistenceReaderFunc:function(id, type){

            if(document.getElementById('save-config').checked || [[${flag}]]){
                let data = [[${user.getColumns()}]];
                return data ? JSON.parse(data) : false;
            }
            return false;
        },
        persistenceID:"example1",
        persistenceWriterFunc: function(id, type, data){

            $.ajax({
                type: 'POST',
                url: 'assistance/saveTableConfig',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                dataType: 'text',
                data: JSON.stringify(data),
            });

        },
        persistence:{
            sort: true, //persist column sorting
            columns: true, //persist columns
        },
        data: loadData(),
        layout:"fitDataTable",
        layoutColumnsOnNewData:true,
        height: "80%",
        movableColumns: true, //enable user movable columns
        dataSorting: function (sorters) {
            // calls sort function in server to load new sorted results
            if (sorters.length > 0) {
                //TODO: put as ajax request FIX IT!

                
                $.ajax({
                    type: 'GET',
                    url: "/tableview/sort/" + sorters[0]['field'] + "/" + sorters[0]['dir'],
                    dataType: 'text',

                    success: function (responseData) {
                        $('#dashboard').load('/tableview/flag');
                    }
                })
            }
        },

        /*<![CDATA[*/
        placeholder:[[#{table.noResults}]],
        /*]]>*/
        rowDblClick: function (e, row) {
            //shows and hides thumbnails for each row
            let thumbnails = row.getData().thumbnails;
            let id = row.getData().id;
            if (document.getElementById('holder' + id) == null) {
                let holder = document.createElement('div');
                holder.style.display = 'block';
                holder.setAttribute('id', 'holder' + id)
                let cardBody = document.createElement('div');
                cardBody.setAttribute('class', 'card card-body no-wrap');
                let outerRow = document.createElement('div');
                outerRow.setAttribute('class', 'row');
                thumbnails.forEach(function(item, index){
                    let col = document.createElement('div');
                    col.setAttribute('class', 'mx-1 col-auto');
                    let innerRow1 = document.createElement('div');
                    innerRow1.setAttribute('class', 'row');
                    let innerRow2 = document.createElement('div');
                    innerRow2.setAttribute('class', 'row mb-2 mt-1 justify-content-center');
                    let innerCol = document.createElement('div');
                    innerCol.setAttribute('class', 'col');
                    let img = document.createElement('img');
                    img.setAttribute('class', 'img-thumbnail');
                    img.setAttribute('src', item.thumb);
                    let label = document.createElement('a');
                    label.setAttribute('class', 'btn-sm btn-secondary')
                    label.setAttribute('href','/editor/' + item.id);
                    let icon = document.createElement('i');
                    icon.setAttribute('class', 'fa fa-pencil');
                    label.appendChild(icon);
                    innerCol.appendChild(img);
                    innerRow1.appendChild(innerCol);
                    innerRow2.appendChild(label);
                    col.appendChild(innerRow1);
                    col.appendChild(innerRow2);
                    outerRow.appendChild(col);
                })
                cardBody.appendChild(outerRow);
                holder.appendChild(cardBody);
                row.getElement().appendChild(holder);
            } else {
                document.getElementById('holder' + id).remove();
            }
        },
        columns: window.cols,
    });
    /*]]>*/
    // call functions after table has been created
    setHeaderMenues();
    createDropdown();
    setThumbCheckbox();
    disableButtons();

    function disableButtons(){
        /*<![CDATA[*/
        let currentPage = [[${currentPage}]];

        if(currentPage === [[${numberOfPages}]]){
            $('#nextPage').prop("disabled",true);
        }
        if(currentPage === 1){
            $('#prevPage').prop("disabled",true);
        }
        /*]]>*/
    }


    function setThumbCheckbox(){
    /*<![CDATA[*/
        if(document.getElementById("save-config").checked){
            document.getElementById("thumbnails").checked = [[${user.isCheckThumbs()}]];
            document.getElementById("pageNumberInput").value = [[${user.getCurrentPage()}]];
        } else {
            document.getElementById("pageNumberInput").value = [[${currentPage}]];
        }
        /*]]>*/
    }

function setHeaderMenues(){
        window.table.getColumns().forEach(function(item, index) {
            if (index > 1) {
            item.getDefinition().headerMenu = headerMenu();
            }
        })
}

function callEditor(manId){
    $.ajax({
        type: 'GET',
        url: '/tableview/getFirstPage/' + manId,
        dataType: 'text',

        success: function (responseData) {
            if(responseData === "error"){
                /*<![CDATA[*/
                location.href = "/error/" + [[${errorMessage}]];
                /*]]>*/
            }
            location.href = "editor/" + responseData;

        }
    })
}


    // create show columns dropdown menu
    function createDropdown() {
        /*<![CDATA[*/
        let container = document.getElementById("boxes");
        let cont;
        let checkbox;
        let label;
        let tbl = window.table.getColumns();
        for (let i = 1; i < table.getColumns().length - 1; i++) {
            //tbl[i] = table.getColumns()[i + 1];
        }
        tbl.forEach(function (col, index) {
            if(col.getField() !== "id" && index > 0) {
                console.log(col.getField());
                cont = document.createElement("div");
                cont.className = "form-check ml-1"
                checkbox = document.createElement("input");
                checkbox.type = "checkbox";
                checkbox.className = "form-check-input";
                checkbox.id = "check_" + col.getField();

                label = document.createElement("label");
                label.htmlFor = "check_" + col.getField();
                label.className = "form-check-label";
                label.appendChild(document.createTextNode(col.getDefinition().title));

                cont.appendChild(checkbox);
                cont.appendChild(label);
                if (col.isVisible()) {
                    checkbox.checked = true;
                }
                container.appendChild(cont);
            }
        });
        let divider = document.createElement("div");
        divider.className = "dropdown-divider";
        container.append(divider);
        let applyBtn = document.createElement("button");
        applyBtn.className = "btn btn-primary btn-sm ml-1";
        applyBtn.type = "submit";
        applyBtn.innerHTML = [[#{buttons.apply}]];
        applyBtn.addEventListener("click", function (e) {
            window.table.getColumns().forEach(function (col, index) {
                if(col.getField() !== "id" && index > 0) {
                    if (document.getElementById("check_" + col.getField()).checked) {
                        col.show();
                    } else {
                        col.hide();
                    }
                }
            });
            e.preventDefault();
        });
        container.append(applyBtn);
        /*]]>*/

    }

    function updateDropdown(){
        window.table.getColumns().forEach(function (col, index) {
            if(col.getField() !== "id" && index > 0 && col.isVisible()){
                document.getElementById("check_" + col.getField()).checked = true;
            }
        });
    }

    //reset columns function
    function resetColumns() {
        window.table.getColumns().forEach(function(col){
            col.show();
        });
        updateDropdown();
    }

</script>

</body>
</html>
<style>
    .no-wrap > .row {
        overflow-x: scroll;
        white-space: nowrap;
        flex-wrap: nowrap;
    }
    .no-wrap > .row > .col-auto{
        display: inline-block;
        float: none;
    }
</style>