<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>tableView</title>
</head>

<body id="body" th:fragment="tableView">
<div class="form-row align-items-center m-2">
    <div class="col-auto">
        <div class="form-check form-check-inline">
            <input type="checkbox"
                   class="form-check-input"
                   id="thumbnails"
                   name="thumbnails"
                   >
            <label for="thumbnails"
                   class="form-check-label" th:text="#{input_label.always_show_thumbs}"></label>
        </div>
    </div>
    <div class="col-auto dropdown">
        <button class="btn-sm btn-secondary dropdown-toggle"
                type="button"
                id="dropdownMenu"
                data-toggle="dropdown" th:text="#{buttons.choose_cols}"></button>
        <div class="dropdown-menu" id="boxes"></div>
    </div>

    <div class="col-auto">
        <button type="button"
                class="btn-sm btn-secondary"
                id="reset"
                onclick="resetColumns()" th:text="#{buttons.reset_cols}"></button>
    </div>

    <div class="col-auto ml-auto">
        <button type="button"
                class="btn-sm btn-info"
                onclick="backToDashboard()" th:text="#{buttons.to_dashboard}"></button>
    </div>
</div>

<div id="searchresults"></div>

<script th:inline="javascript">
    // setting contextpath and storing it
    window.CONTEXTPATH = /*[[@{/}]]*/ "";
</script>
<script th:src="@{js/table_view.js}"></script>
<script th:inline="javascript">

    /*<![CDATA[*/
    //define columns
        window.cols = [
            {
                formatter:function(cell, formatterParams, onRendered){
                return "<i class='fa fa-pencil'></i>";},
                hozAlign:"center",
                resizable: false,
                frozen: true,
                headerSort: false,
                cellClick:function(e, cell){
                    manId = cell.getRow().getData().id;
                    callEditor(manId);
                },

            },
            {
                title: [[#{col_name.id}]],
                field: "id",
            },
            {
                title: [[#{col_name.title}]],
                field: "title",
                headerMenu: headerMenu(),
                visible: true,
            },
            {
                title: [[#{col_name.publisher}]],
                field: "publisher",
                headerMenu: headerMenu(),
                visible: true,
            },
            {
                title: [[#{col_name.publicationYear}]],
                field: "publicationYear",
                headerMenu: headerMenu(),
                visible: true,
            },
            {
                title: [[#{col_name.lastModified}]],
                field: "lastModified",
                headerMenu: headerMenu(),
                visible: true,
            },
            {
                title: [[#{col_name.noPages}]],
                field: "noPages",
                headerMenu: headerMenu(),
                visible: true,
            },
            {
                title: [[#{col_name.hasAlgoAnnos}]],
                field: "hasAlgorithmAnnotations",
                headerMenu: headerMenu(),
                visible: true,
                formatter:"tickCross"
            },
            {
                title: [[#{col_name.created}]],
                field: "created",
                headerMenu: headerMenu(),
                visible: true,
            },
        ];

    /*]]>*/

    //defines header menu with hide function
    function headerMenu() {
        /*<![CDATA[*/
        return [
            {
                label: "<i class='fa fa-eye-slash mr-1'> </i>" + [[#{menu.hideCol}]],
                action: function (e, column) {
                    column.hide();
                    document.getElementById('check_' + column.getField()).checked = false;
                }
            }
        ];
        /*]]>*/
    }
    function getCurrentPage(){
           return [[${user.getCurrentPage()}]];
    }

    window.flag = true;


    // creates Table
    /*<![CDATA[*/
    window.table = new Tabulator("#searchresults", {

        persistenceReaderFunc:function(id, type){
                if(type === "columns"){
                    let data = [[${user.getColumns()}]];
                    return JSON.parse(data);
                } else if(type === "page"){
                    let data = [[${user.getPage()}]];
                    data = JSON.parse(data);
                    data.paginationInitialPage = 1;
                    return data;
                } else if (type === "sort"){
                    let sort = [[${user.getSort()}]]
                    return JSON.parse(sort);
                }
        },
        persistenceID:"example1",
        persistenceWriterFunc: function(id, type, data){
            $.ajax({
                type: 'POST',
                url: 'assistance/saveTable' + type,
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                dataType: 'text',
                data: JSON.stringify(data),
                success: function (responseData) {
                    if(responseData === "error"){
                        /*<![CDATA[*/
                        location.href = window.CONTEXTPATH + "error/" + [[${errorMessage}]];
                        /*]]>*/
                    }
                }
            });
        },
        persistence:{
            columns: true, //persist columns
            pagination: true,
            page: {
                size: true,
                page: true,
            },
            sort: true,
        },
        layout:"fitDataTable",
        initialSort: [{column:"id", dir:"asc"}],
        paginationSizeSelector:[10, 20, 30, 40],
        height: 800,
        pagination:"remote",
        movableColumns: true, //enable user movable columns
        ajaxURL: window.CONTEXTPATH + "tableview/sort", //set url for ajax request
        ajaxResponse:function(url, params, response){
            if(response === "error"){
                /*<![CDATA[*/
                location.href = window.CONTEXTPATH + "error/" + [[${errorMessage}]];
                /*]]>*/
            }
            return response; //return the response data to tabulator
        },

        ajaxSorting:true,
        columnHeaderSortMulti:false,
        /*<![CDATA[*/
        placeholder:[[#{table.noResults}]],
        paginationSize:10,
        paginationInitialPage:1,
        /*]]>*/
        rowDblClick: function (e, row) {
            //shows and hides thumbnails for each row
            let id = row.getData().id;
            if (document.getElementById('holder' + id) == null) {
                showThumbnails(row);
            } else {
                hideThumbnails(row);
            }

        },
        columns: window.cols,
        renderComplete:function() {
            showThumbs();
            if (window.flag) {
                $.ajax({
                    type: 'POST',
                    url: 'assistance/saveTablecolumns',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    dataType: 'text',
                    data: JSON.stringify(window.table.getColumnLayout()),
                });
                window.flag = false;
            }
        },
        langs:{
            "def":{
                "ajax":{
                    "loading":[[#{table.loading}]], //ajax loader text
                    "error":[[#{table.error}]], //ajax error text
                },
                "pagination":{
                    "page_size":[[#{input_label.resultsPerPage}]], //label for the page size select element
                    "page_title":[[#{buttons.pageTooltip}]],//tooltip text for the numeric page button, appears in front of the page number (eg. "Show Page" will result in a tool tip of "Show Page 1" on the page 1 button)
                    "first":[[#{buttons.first}]], //text for the first page button
                    "first_title":[[#{buttons.first}]], //tooltip text for the first page button
                    "last":[[#{buttons.last}]],
                    "last_title":[[#{buttons.last}]],
                    "prev":[[#{buttons.prev}]],
                    "prev_title":[[#{buttons.prev}]],
                    "next":[[#{buttons.next}]],
                    "next_title":[[#{buttons.next}]],
                },
                "columns":{
                    "id":[[#{col_name.id}]],
                    "title":[[#{col_name.title}]],
                    "publisher":[[#{col_name.publisher}]],
                    "publicationYear":[[#{col_name.publicationYear}]],
                    "lastModified":[[#{col_name.lastModified}]],
                    "noPages":[[#{col_name.noPages}]],
                    "hasAlgorithmAnnotations":[[#{col_name.hasAlgoAnnos}]],
                    "created":[[#{col_name.created}]]


                },
            }
        },
        locale:"def",

    });
    window.table.setMaxPage(getCurrentPage());
    window.table.setPage(getCurrentPage());
    setThumbCheckbox();
    setHeaderMenues();
    createDropdown();



    /*<![CDATA[*/
    function showThumbs(){
        if(document.getElementById("thumbnails").checked) {
            window.table.getRows().forEach(function (row) {
                showThumbnails(row);
            });
        } else {
            [[${user.getRows()}]].forEach(function(manId, i){
                window.table.getRows().forEach(function(row){
                    if(row.getData().id === [[${user.getRows()}]][i]){
                        showThumbnails(row);
                    }
                })

            });




        }
    }
    /*]]>*/

    function showThumbnails(row){
        $.get( "./assistance/addRow/" + row.getData().id, function( data ) {
            let thumbnails = row.getData().thumbnails;
            let id = row.getData().id;
            let holder = document.createElement('div');
            holder.style.display = 'block';
            holder.setAttribute('id', 'holder' + id)
            let cardBody = document.createElement('div');
            cardBody.setAttribute('class', 'card card-body no-wrap');
            let outerRow = document.createElement('div');
            outerRow.setAttribute('class', 'row');
            thumbnails.forEach(function (item, index) {
                let col = document.createElement('div');
                col.setAttribute('class', 'mx-1 col-auto');
                let imgRow = document.createElement('div');
                imgRow.setAttribute('class', 'row');
                let imgCol = document.createElement('div');
                imgCol.setAttribute('class', 'col');
                let img = document.createElement('img');
                img.setAttribute('class', 'img-thumbnail');
                img.setAttribute('src', item.thumbNail);
                imgCol.appendChild(img);
                imgRow.appendChild(imgCol);
                let subtitleRow = document.createElement('div');
                subtitleRow.setAttribute('class', 'row mb-2 mt-1 justify-content-center');
                let link = document.createElement('a');
                link.setAttribute('class', 'btn-sm btn-secondary col-auto')
                link.setAttribute('href', window.CONTEXTPATH + 'editor/' + item.id);
                let icon = document.createElement('i');
                icon.setAttribute('class', 'fa fa-pencil');
                link.appendChild(icon);
                let label = document.createElement('label');
                label.setAttribute('class', 'col-auto m-0');
                label.innerText = item.pageNumber;
                subtitleRow.appendChild(link);
                subtitleRow.appendChild(label);
                col.appendChild(imgRow);
                col.appendChild(subtitleRow);
                outerRow.appendChild(col);
            })
            cardBody.appendChild(outerRow);
            holder.appendChild(cardBody);
            row.getElement().appendChild(holder);
        });
    }

    function hideThumbnails(row) {
        $.get( window.CONTEXTPATH + "assistance/removeRow/" + row.getData().id, function( data ) {
            let id = row.getData().id;
            document.getElementById('holder' + id).remove();
        });
    }


    function setThumbCheckbox(){
    /*<![CDATA[*/
            document.getElementById("thumbnails").checked = [[${user.isCheckThumbs()}]];
            // if([[${user.isCheckThumbs()}]]){
             //    showThumbs()
        // }

        /*]]>*/
    }

function setHeaderMenues(){
        window.table.getColumns().forEach(function(item, index) {
            if (index > 1) {
            item.getDefinition().headerMenu = headerMenu();
            }
        })
}

function callEditor(manId){
    $.ajax({
        type: 'GET',
        url: window.CONTEXTPATH + 'tableview/getFirstPage/' + manId,
        dataType: 'text',

        success: function (responseData) {
            if(responseData === "error"){
                /*<![CDATA[*/
                location.href = window.CONTEXTPATH + "error/" + [[${errorMessage}]];
                /*]]>*/
            }
            location.href = "editor/" + responseData;

        }
    })
}


    // create show columns dropdown menu
    function createDropdown() {
        /*<![CDATA[*/
        let container = document.getElementById("boxes");
        let cont;
        let checkbox;
        let label;
        let tbl = window.table.getColumns();
        for (let i = 1; i < table.getColumns().length - 1; i++) {
            //tbl[i] = table.getColumns()[i + 1];
        }
        tbl.forEach(function (col, index) {
            if(col.getField() !== "id" && index > 0) {
                cont = document.createElement("div");
                cont.className = "form-check ml-1"
                checkbox = document.createElement("input");
                checkbox.type = "checkbox";
                checkbox.className = "form-check-input";
                checkbox.id = "check_" + col.getField();

                label = document.createElement("label");
                label.htmlFor = "check_" + col.getField();
                label.className = "form-check-label";
                label.appendChild(document.createTextNode(col.getDefinition().title));

                cont.appendChild(checkbox);
                cont.appendChild(label);
                if (col.isVisible()) {
                    checkbox.checked = true;
                }
                container.appendChild(cont);
            }
        });
        let divider = document.createElement("div");
        divider.className = "dropdown-divider";
        container.append(divider);
        let applyBtn = document.createElement("button");
        applyBtn.className = "btn btn-primary btn-sm ml-1";
        applyBtn.type = "submit";
        applyBtn.innerHTML = [[#{buttons.apply}]];
        applyBtn.addEventListener("click", function (e) {
            window.table.getColumns().forEach(function (col, index) {
                if(col.getField() !== "id" && index > 0) {
                    if (document.getElementById("check_" + col.getField()).checked) {
                        col.show();
                    } else {
                        col.hide();
                    }
                }
            });
            e.preventDefault();
        });
        container.append(applyBtn);
        /*]]>*/
    }

    function updateDropdown(){
        window.table.getColumns().forEach(function (col, index) {
            if(col.getField() !== "id" && index > 0 && col.isVisible()){
                document.getElementById("check_" + col.getField()).checked = true;
            }
        });
    }

    //reset columns function
    function resetColumns() {
        /*<![CDATA[*/
        window.table.setColumns(window.cols);
        window.table.getColumns().forEach(function(col){
            col.show();
        });
        window.table.setSort("id", "asc");
        updateDropdown();
        /*]]>*/
    }

</script>

</body>
</html>
<style>
    .no-wrap > .row {
        overflow-x: scroll;
        white-space: nowrap;
        flex-wrap: nowrap;
    }
    .no-wrap > .row > .col-auto{
        display: inline-block;
        float: none;
    }
</style>
