/* ------------------------------------*/
/* BOTTOMBAR */
/* this shows up, when pressing the "showBook" button*/
/* ------------------------------------*/

/* the following classes originally stem from
 bootstrap, which is used for the DO-overview
 of tAkita, but not for the textEditor, where
 chota is used. The values haven been tweaked 
 to achieve the correct styling. */
.btn-group-sm > .btn, .btn-sm {
  padding: .4rem .9rem;
  font-size: 1.5rem;
  line-height: 1.5;
  border-radius: .2rem;
  margin-right: -0.3em;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

/* disable the button of the currently displayed
 part*/
.btn-secondary.inactiveBtn {
  cursor: not-allowed;
  opacity: .4;
}

/* override the standard hover behavior of chota*/
.btn-secondary.inactiveBtn:hover {
  opacity: .4;
}