:root {
  --white-color: #fafafb;
  --background-color: #f0f0f8;
  --grey-color: #b5b5be;
  --dark-grey-color: #292932;
}

.anno-side-bar {
  width: 20rem;
  height: 100%;
  padding: 0.2rem 0.2rem;
  background-color: #292932;
  position: fixed;
  top: 0%;
  transition: all 0.5s ease;
  overflow-y: scroll;
  z-Index: 5;
}

.logo-name-wrapper {
  position: relative;
  display: flex;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.logo-name {
  display: flex;
  align-items: center;
}

.logo-name__name {
  margin-left: 0.9rem;
  white-space: nowrap;
}
.logo-name__button {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 1.8rem;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.logo-name__icon {
  font-size: 1.8rem;
  color: var(--grey-color);
}

.features-list {
  padding-top: 1rem;
  border-bottom: 1px solid #b5b5be;
  list-style: none;
}

.features-item {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0.9rem;
  margin-bottom: 1rem;
  color: var(--grey-color);
  cursor: pointer;
  transition: 0.5s ease;
}
.features-item::before {
  transition: 0.5s ease;
  content: '';
  position: absolute;
  left: -1.2rem;
  height: 100%;
  border-left: 3px solid var(--white-color);
  border-radius: 2px;
  opacity: 0;
  visibility: hidden;
}

.features-item-icon:hover {
  color: var(--white-color);
  transition: 0.5s ease;
}

.features-item-icon:hover::before {
  opacity: 1;
  visibility: unset;
}

.features-item-text:hover {
  color: var(--white-color);
  transition: 0.5s ease;
}

.features-item-text:hover::before {
  opacity: 1;
  visibility: unset;
}

.features-item-text.annocollapse {
  pointer-events: none;
}

.features-item-icon {
  font-size: 2rem;
}

.features-item-text {
  margin-left: 1.5rem;
  transition: opacity 0.6s ease;
  opacity: 1;
}

.tooltip {
  position: absolute;
  top: -2.1rem;
  left: 6.4rem;
  background-color: white;
  color: var(--dark-grey-color);
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  transition: 0s;
  opacity: 0;
  display: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.anno-side-bar.annocollapse .features-item:hover .tooltip,
.logo-name__button:hover .tooltip{
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s ease;
  opacity: 1;
}

.anno-side-bar.annocollapse {
  width: 5rem;
}

.anno-side-bar.annocollapse .tooltip {
  display: block;
}

.anno-side-bar.annocollapse .logo-name,
.anno-side-bar.annocollapse .category-header,
.anno-side-bar.annocollapse .features-item-text {
  opacity: 0;
  pointer-events: none;
}

.anno-side-bar.annocollapse .logo-name__button {
  right: 0.5rem;
}

.category-header {
  font-size: 1.2rem;
  text-transform: uppercase;
  line-height: 1.8rem;
  color: var(--white-color);
  margin-bottom: 1.3rem;
  white-space: nowrap;
}

.expandable > legend:before {
  content: '\25B8';
  padding-right: 5px;
}
.expanded > legend:before {
  content: '\25BE';
}

.features-item.active {
  color: var(--white-color);
  transition: 0.5s ease; 
}

.features-item.active::before {
  opacity: 1;
  visibility: unset;
}

.bx.bx-home {
    cursor: pointer;
    font-size: 2rem;
}