/* ------------------------------------*/
/* EDITOR CONTAINER */
/* ------------------------------------*/

/* moving editor to the right to prevent
   the siderbar from overlapping the editor */
#editor {
    margin-left: 7.5rem;
}

/* fixing overflowing editor content*/
#editor {
    position: relative;
}
#editor > .row {
    width: 100%;
}

/* end of editor container */
/* ------------------------------------*/

/* ------------------------------------*/
/* TABLES */
/* ------------------------------------*/

/* removing the margin below the thymeleaf fragment (header_editor.html)
	that the table from the fragment and the table to display
	metadata from the tei-files have no whitespace in between*/
#header_editor {
	margin-bottom: 0em;
}

/* end of tables */
/* ------------------------------------*/


/* ------------------------------------*/
/* MODALS */
/* ------------------------------------*/

/* needs to be checked on larger screen! */
.modal-dialog {
    top: 10%;
    left: 30%;
}

/* overwriting bootstraps modal sizing to prevent
	the modals from overlapping the editor part
	and preventing the modals right side to be cut
	off on small screens */
.modal-dialog {
	max-width: 35%;
}

/* adding some space on the left and right side for
	checkboxes present in the modal displayed to create
	annotations */
#createAnnotationForm .form-group input[type="checkbox"] {
	margin-left: .75em;
	margin-right: .4em;
}

/* adding some space on the left and right side for
	checkboxes present in the modal displayed to add
	a body to an annotation */
#createForm .form-group input[type="checkbox"] {
	margin-left: .75em;
	margin-right: .4em;
}

/* end of modals */
/* ------------------------------------*/

/* ------------------------------------*/
/* TEXTCARD DISPLAY */
/* ------------------------------------*/

/* displaying textcard display right beside
	the text regardless of scroll position */
/* positioning the column div wrapping 
	everything relatively so #viewerHolder
	can have a sticky position */
#annotationCardColumn {
	position: relative;
}

/* sticky positioning */
#viewerHolder {
	position: sticky;
	top: 5%;
}

/* keeping the sticky position of the annotation card
	if bootstrap modals are displayed. This prevents
	the annotation card from jumping around.
	When opening a bootstrap modal the body gets
	the "modal-open" class and inline css set "overflow: hidden";
	this behaviour is overwritten to keep the annotation
	card at its position. */
body.modal-open {
	overflow: visible !important;
}

/* making textcard display scrollable */
#annotationCard {
	max-height: 70vh;
	overflow-y: auto;
}

/* adding some space around the horizontally 
   displayed elements */
#annotationCard > .card {
	padding: .4rem .4rem;
}

/* hiding buttons created by jsonForms, if
	the formDataModel contains an array.
	The buttons are never used anyways. */
._jsonform-array-buttons {
	display: none;
}
   
/* displaying the "quickview" of an annotations
	body in one line*/
.horizontalFormDiv {
	display: inline-flex;
}

/* input fields in cards should take all the available
   horizontal space. */
.horizontalFormForm > div {
	display: flex;
}
.horizontalFormDiv {
	flex-grow: 1;
}
.horizontalFormInput {
	/* I believe we can leave this out! */
	flex-grow: 0;
}
.horizontalFormDiv .controls {
	flex-grow: 1;
}

/* Center card row contents vertically */
 .formBodyDiv,
 .horizontalFormForm {
	margin-bottom: 0 !important;
}

/* align the label of the "quickview" */
.horizontalFormDiv > label {
	display: inline-flex;
	align-items: center;
}
/* add some space between the form elements */
.horizontalFormDiv > input[type="text"],
.horizontalFormDiv > label {
	margin-right: 0.3em;
}
/* override the styling on the text done by
	disabling the editing of the value */
.horizontalFormDiv > input[type="text"] {
	color: black;
	opacity: 1;
}

/* adding space/margins before the buttons
	at the end of the textcard*/
#buttonToAnalysisTool,
#buttonModifySelection,
#buttonSaveModification,
#buttonCancelModification {
	margin-top: 0.3em;
}

/* adding space/margins between the buttons
	at the end of the textcard*/
#buttonToAnalysisTool{
	margin-right: 0.5em;
}
#buttonModifySelection,
#buttonSaveModification,
#buttonCancelModification {
	margin-right: 0.2em;
}

/* end of textcard display */
/* ------------------------------------*/

/* ------------------------------------*/
/* PART OVERVIEW */
/* ------------------------------------*/

/* setting image size for images being lazy loaded
	as recommended by specs:
	https://html.spec.whatwg.org/multipage/embedded-content.html#attr-img-loading
	and fitting the image to the contaniner w/o
	changing its scaling. To display the image entirely
	(but scaled down) change the object-fit value
	to "contain".
	height has to be "!important" to override the
	styling done by bootstrap
	*/
.img-thumbnail {
	height: 10rem !important;
  	width: 10rem;
  	object-fit: cover;
}	

/* end of part overview */
/* ------------------------------------*/