/* Source: https://morioh.com/p/793999d352b9 */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
}

/* decreasing the size of the modal by 
   reducing the size of the textareas, to prevent 
   users not being able to close the modal;
   needs to be !important as the jsonForm
   library adds inline CSS and it needs to
   be overwritten */

div.form-group > div.controls > textarea {
    height: 10rem !important;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 42rem;
    border-radius: 0.5rem;
}

.modal-loading {
    position: absolute;
    top: 25%;
    left: 75%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1rem;
    width: 10rem;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
