/* CM specifics */
/* ------------------------------------*/

/* hide footnotes and disable seelction for it */
tei-note[type="footnote"] {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/* hacky way to hide the text and keep it outside the 
		selection object. "display: none;" will include
		the elements text in the selection */
	color: grey;
	display: block;
	height: 0;
	overflow: hidden;
}

/* fix the spacing between the lines prior and after tei-notes*/
tei-note + tei-lb::before {
	content: "";
}

tei-note + tei-lb[n]::before {
	content: attr(n)". ";
	color: grey;
}
