/* C01 specifics */
/* ------------------------------------*/

/* Gerson */
/* linebreak after a question answer blob */
tei-ab[type=qna]::after {
	content: "\00000a";
	white-space: pre-wrap;
}

/* Arabic */
/* color quotes from different sources differently */
tei-q[type="Quran"] {
	color: green;	
}

tei-q[type="Hadith"] {
	color: red;	
}

tei-q[type="Poetry"] {
	color: rgb(160, 160, 0);
}

tei-q[type="Generic"] {  
    color: purple;
}

/* whitespace between half verses */
tei-l tei-seg::after{
    content: "\00a0\00a0\00a0\00a0";
    white-space: pre;
}

/* corrections input by scholar */
tei-corr::before {
    content: "[";
    color: gray
}
tei-corr::after {
    content: "]";
    color: gray
}