/* B02 specifics */
/* ------------------------------------*/
@font-face {
    font-family: "NotoSansKR";
    src:
      url("../fonts/NotoSansKR/NotoSansKR-VariableFont_wght.woff2") format("woff2"),
      url("../fonts/NotoSansKR/NotoSansKR-VariableFont_wght.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
  
/* setting the correct font */
/* early modern korean and early modern chinese */
#TEI *[lang="okm-Kore"], #TEI *[lang="lzh"] {
    font-family: "NotoSansKR";
}

/* adding page numbers */
tei-pb[n]::after {
    content: attr(n);
    color: grey;
    font-size: 70%;
    vertical-align: super;
}