<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body th:fragment="annoDash">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler.min.css">
  <!-- readding bootstrap to overwrite the tabler styling-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/css/bootstrap.min.css"
  integrity="sha512-2bBQCjcnw658Lho4nlXJcc6WkV/UxpE/sAokbXPxQNGqmNdQrWqtw26Ns9kFF/yG792pKR1Sx8/Y1Lf1XN4GKA=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- fixing the icon of the button to change the language and select filters -->
  <style>
    .dropdown-toggle::after {
      transform: none;
    }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/js/tabler.min.js"></script>
  <!-- readding bootstrap to prevent bootstraps js from getting overwritten by tabler js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.min.js"
  integrity="sha512-nKXmKvJyiGQy343jatQlzDprflyB5c+tKCzGP3Uq67v+lmzfnZUi/ZT+fc6ITZfSC5HhaBKUIvr/nTLCV+7F+Q=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <div class="row align-items-center m-2">
      <div class="col-auto ms-auto">
          <button type="button"
                  class="btn btn-sm btn-info"
                  onclick="backToDashboard()" th:text="#{buttons.to_dashboard}"></button>
      </div>
    </div>
    <div class="page" id="annoDash">
        <div class="page-wrapper">
          <div class="page-body">
            <div class="container-xl">
              <div class="row row-deck row-cards" style="margin-bottom: 1em;">
                <div class="col-4">
                  <div class="card">
                    <div class="card-header">
                        <h3 class="card-title" th:text="#{annodash.text.annocount.title}"></h3>
                    </div>
                    <div class="card-body">
                      <p th:text="#{annodash.text.annocount.para1}"></p>
                      <h1 id="personalNumber"></h1>
                      <p th:text="#{annodash.text.annocount.para2}"></p>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="card">
                    <div class="card-header">
                        <h3 class="card-title" th:text="#{annodash.text.annostreak.title}"></h3>
                    </div>
                    <div class="card-body">
                      <div id="annoStreakIcon" style="height:30%; width: 100%; text-align: center"></div>
                      <div id="annoStreakFalse" th:text="#{annodash.text.annostreak.divfalse}"></div>
                      <div id="annoStreakTrue" th:text="#{annodash.text.annostreak.divtrue}"></div>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title" th:text="#{annodash.text.topannotators.title}"></h3>
                    </div>
                    <div  class="card-body">
                    <div class="table-responsive">
                      <table class="table table-vcenter">
                        <thead>
                          <tr>
                            <th th:text="#{annodash.text.topannotators.thead1}"></th>
                            <th th:text="#{annodash.text.topannotators.thead2}"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td id="annotator0"></td>
                            <td id="annotations0" class="text-secondary"></td>
                          </tr>
                          <tr>
                            <td id="annotator1"></td>
                            <td id="annotations1" class="text-secondary"></td>
                          </tr>
                          <tr>
                            <td id="annotator2"></td>
                            <td id="annotations2" class="text-secondary"></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row row-deck row-cards" style="margin-bottom: 1em;">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                        <h3 class="card-title" th:text="#{annodash.text.annoprogress.title}"></h3>
                    </div>
                    <div id="annoProgress" class="card-body"></div>
                  </div>
                </div>
              </div>
              <div class="row row-deck row-cards">
                <div class="col-6">
                  <div class="card">
                    <div class="card-header">
                        <h3 class="card-title" th:text="#{annodash.text.annooverview.title}"></h3>
                    </div>
                    <div class="card-body">
                      <p th:text="#{annodash.text.annooverview.para1}"></p>
                      <h1 id="annoNumber"></h1>
                      <p th:text="#{annodash.text.annooverview.para2}"></p>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card">
                    <div class="card-header">
                        <h3 class="card-title" th:text="#{annodash.text.annotators.title}"></h3>
                    </div>
                    <div id="annoCreators" class="card-body"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script th:src="@{/js/table_view.js}"></script>
      <script th:src="@{/js/dashboard_anno.js}"></script>

<script th:inline="javascript">
  // setting contextpath and storing it
  window.CONTEXTPATH = /*[[@{/}]]*/ "/";
  showBars(true, false, false);
  initializeAnnoDash(window.CONTEXTPATH + "annodash/data", document.getElementById('pseudonymInput').value, document.getElementById('annoDash'));
</script>

</body>

</html>