<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    
    <!-- define common scripts in head fragment to include here -->
    <th:block th:replace="~{head :: baseContent}"></th:block>
    <th:block th:replace="~{head_bootstrap :: baseContentBoot}"></th:block>

</head>
<body>
    <div class="row mt-5 justify-content-center">
        <div class="col-auto">
            <h1 class="text-center display-2" th:text="#{heading.error}"> </h1>
            <h2 class="text-center display-4" th:text="#{heading.error_sub}"> </h2>
            <label th:text="${errorMessage}"> </label>
            <label th:text="${errorException}"> </label>
            <label th:text="${errorExceptionType}"> </label>
            <label th:text="${errorRequestUri}"> </label>
            <label th:text="${errorServletName}"> </label>
            <label th:text="${errorStatusCode}"> </label>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <button class="btn btn-lg btn-primary" onclick="backToMain()" th:text="#{buttons.home}">
             </button>
        </div>
    </div>
    <script th:inline="javascript">
        // setting contextpath
        window.CONTEXTPATH = /*[[@{/}]]*/ "/";
    </script>
    <script th:inline="javascript">
        function backToMain() {
            location.href = window.CONTEXTPATH;
        }
    </script>
</body>
</html>